{% load bootstrap4 %}
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" sizes="256x256">
    <title>TCC-IFSC</title>
    {% bootstrap_css %}
    <link href="{% static 'css/conf_style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
              <div class="col-4 pt-1">
                <img src="{% static 'images/ifsc_3.png' %}" class="rounded float-left" alt="Logo do IFSC">
              </div>
              <div class="col-4 text-center">
                <p id="p2">Sistema Embarcado de Visão Computacional</p>
              </div>
              <div class="col-4 d-flex justify-content-end align-items-center">
                <p class="btn btn-sm btn-outline-secondary">Usuário: {{ status_user }}</p>
              </div>
            </div>
        </header>
        <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="btn btn-outline-dark" href="{% url 'index' %}" role="button">Menu</a>
            <a class="btn btn-outline-dark" href="{% url 'm_calibracao' %}" role="button">Calibração do Pixel</a>
            <a class="btn btn-outline-dark" href="{% url 'resultados' %}" role="button">Resultados</a>
        </nav>
        </div>
        <h2>Configuração do Lote</h2>
        {% bootstrap_messages %}
        <form action="{% url 'configuracao' %}" method="post" class="form" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-success">Salvar Dados</button>
            {% endbuttons %}
        </form>
    </div>
</body>
</html>